// 3rd-party dependencies
// --------------------------------------------------------
@import '../vendor/bootstrap-3.3.7/css/bootstrap.min.css';
@import '../vendor/bootstrap-3.3.7/css/bootstrap-theme.min.css';
@import '../vendor/font-awesome-4.7.0/css/font-awesome.min.css';
@import '../vendor/zakra/css/zakra.css';
@import '../vendor/swiper-4.5.3/css/swiper.min.css';

//@import 'theme/main.min.css';

// 1st-party dependencies, helpers & utilities
// --------------------------------------------------------
@import 'mixins';

@import 'menu.css';
@import 'app.css';
@import 'home.css';
@import 'news.css';
@import 'case.css';
@import 'service.css';
@import 'online.css';

// Font and Image URLs
// --------------------------------------------------------
$dark-bg-texture = '/images/dark-sharp-edges.png';

// Hide functionality that presumes WP stylesheets are enabled
.sharedaddy {
  display: none;
}
