a:focus, a:hover{
    text-decoration: none;
}
* {
    font-family: Microsoft YaHei,微软雅黑,PingFang SC,Arial;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.placeholder{
  background-position: center;
  background-size: cover;
  background-image: url('../image/placeholder.jpg');
}

.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.mb20 {
    margin-bottom: 20px!important;
}
.f16 {
    font-size: 16px;
}
.p20  {
    padding: 20px!important;
}
.blue {
    color: #176eca;
}

.f14 {
    font-size: 14px;
}

.site-header {
  padding: 0;
  width: 100%;
}

.list-unstyled {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.site-content{
  margin-top: 0;
  margin-bottom: 0;
}

.site-header.shadow  {
	box-shadow: rgba(0,0,0,.2) 0 1px 8px 0;
}
.site-header.fixed  {
  position: fixed;
  top: 0;
}
