.tg-page-header{
  height: 350px;
}
.services-website .tg-page-header{
  background-color: #409EFF;

}

.services-h5 .tg-page-header{
  background-color: #F56C6C;
}

.services-wx .tg-page-header{
  background-color: #67C23A;
}

.services-soft .tg-page-header{
  background-color: #E6A23C;
}
