.tg-page-header{
    padding: 127px 0 127px 0;
}

.service-basic-title {
  padding: 54px 0 48px;
}
.services-website .tg-page-header{
  background-color: #409EFF;

}

.service-website .related-case{
  border-bottom: 1px solid #DCDFE6;
  border-top: 1px solid #DCDFE6; 
}

.services-h5 .tg-page-header{
  background-color: #F56C6C;
}

.services-wx .tg-page-header{
  background-color: #67C23A;
}

.services-soft .tg-page-header{
  background-color: #E6A23C;
}
