{{> header }}
<main id="main" class="site-main cases">
  {{> pageHeader }}

  <div id="content" class="site-content">

    <div class="tg-container tg-container--flex-space-between">
      <div>

        <div class="filters">
          <div class="zakra-sites-container tg-container--flex tg-container--flex-center tg-container--flex-space-between">
            <div class="filter-left-contents">
              <div class="filter-section category">
                <div class="button-group" data-filter-group="category">

                  {{#each filters as |filter idx| }}
                    <a class="button button-no-round category-tab {{#if filter.active}}is-checked{{/if}}" data-filter="*" href="{{caseByTermUrl filter}}">{{filter.name}}</a>
                  {{/each}}

                </div>
              </div>

            </div>
            <div class="filter-section search"><input type="text" class="quicksearch" placeholder="Search"></div>
          </div>
        </div>
        <div class="wrap">
          <div class=" case-list">
          {{#each posts as |post idx|}}
          <div class="row activity-item">
              <div class="col-md-6 col-sm-6">
                <div class="list-item">
                  <a href="{{caseUrl post}}" class="">
                    <div class="img-box">
                      {{#if post.Covers}}
                        <img src="{{postCoverUrl post}}" alt="第三方微信投票系统">
                      {{else}}
                        <div class="placeholder"> </div>
                      {{/if}}
                    </div>

                  </a></div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="wrap ">
                  <h3 title="{{post.title}}" class="item-title ellipsis">
                    {{post.title}}
                  </h3>
                  <div class="icon-msg clearfix">
                    <div title="分类" class="icon-msg-item">
                      <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                      <span class="val">高端网站 </span></div>
                    <div title="客户" class="icon-msg-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="val">
                        软山网络
                      </span></div>
                    <div title="访问量" class="icon-msg-item">
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <span class="val"> {{post.finalResultCount}} </span>
                    </div>
                  </div>

                  <div class="item-excerpt">
                    整屏切换式企业官网，高端大气内容凸显。响应式企业官网，各种屏幕更好适配。自适应企业官网，快捷高效适配优质。流式布局企业官网，内容详尽信息集中。

                  </div>

                  <div class="actions">
                    <a class="btn" href="{{caseUrl post}}"> 查看详细</a>
                  </div>
                </div>
              </div>
              {{!-- .post --}}
          </div><!-- .row -->
          {{/each}}
          </div>
          <div class="row">
            <div class="col-md-12">
              {{> pagination  }}
            </div>
          </div>
        </div>
      </div><!-- #primary -->

    </div>
  </div><!-- #content -->
</main>
{{> footer }}
