{{> header2 }}
<main id="main" class="site-main post-detail">


  <div id="content" class="posts site-content page-body">

    <div class="tg-container tg-container--flex tg-container--flex-space-between">
      <div  id="primary" class="">
        <blockquote>
          <p>{{post.excerpt}}</p>
        </blockquote>

        <div class="row">
            <div class="post col-sm-12 hentry">
              <div class="cover post-thumbnail">
                  {{#each post.Covers as |cover|}}
                      <img src="{{cover.originalUrl}}" alt="cover"/>
                  {{/each}}
              </div>

              <div class="entry-content">
                  {{{post.content}}}
              </div>
            </div>{{!-- .post --}}


        </div><!-- .row -->
        <div >
          <nav class="navigation post-navigation" role="navigation">
            <h2 class="screen-reader-text">Post navigation</h2>
            <div class="nav-links">
              {{#if prePost}}
              <div class="nav-previous"><a href="{{postUrl prePost}}" rel="prev">{{prePost.title}}</a>
              </div>
              {{/if}}
              {{#if nextPost}}
              <div class="nav-next"><a href="{{postUrl nextPost}}" rel="next">{{nextPost.title}}</a>
              </div>
              {{/if}}

            </div>
          </nav>        </div>
      </div><!-- #primary -->

      {{> sidebarForCase sidebar }}
    </div>
  </div><!-- #content -->
</main>
{{> footer2 }}
