{{> header }}
<main id="main" class="site-main">
  <div id="content" class="site-content index-cntr">
    <div class="index-slider">
      <!-- Swiper -->
      <div id="index-swiper" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide index-slide-inner index-caput-wrap">
            <div class="index-slide-cont  index-slide-doc i-mod">
              大屏海报（ 互联网+解决方案）

            </div>
          </div>
          <div class="swiper-slide index-slide-inner index-caput-wrap">
            <div class="index-slide-cont index-slide-doc i-mod">
              大屏海报（ h5游戏）

            </div>
          </div>
          <div class="swiper-slide index-slide-inner index-caput-wrap">
            <div class="index-slide-cont index-slide-doc i-mod">
              大屏海报（网站）

            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination "></div>
        <div class="swiper-bg">
          <div class="swiper-bg-single ppxl"></div>
          <div class="swiper-bg-single green active-bg"></div>
          <div class="swiper-bg-single service"></div>
          <div class="swiper-bg-single fenxiao"></div>
          <div class="layout-bg">
            <div class="layout-bg-circle"></div>
            <div class="layout-bg-square"></div>
            <div class="layout-bg-triangle"></div>
          </div>
        </div>
      </div>



    </div>

    <div class="index-services section">
      <div class="index-case-cont">
        <h2 class="index-basic-title "> 企业互联网+一站式服务</h2>

        <div class="index-basic-items">


          <div class=" index-basic-item">
            <div class=" index-basic-item-box">
              <img alt="企业门户建设" class="index-basic-item-img" src="/images/index/index-basic-1.png?v=313">
              <h4> 网站建设</h4>
              <ul>
                <li> 企业官网 </li>
                <li> 行业网站</li>
                <li> 商城网站</li>
              </ul>
              <div class="index-basic-item-btn">
                <a class="btn btn-basic more" href="/service-website" target="_blank">详细介绍</a>
              </div>
            </div>
          </div>


          <div class=" index-basic-item">
            <div class=" index-basic-item-box">
              <img alt="企业门户建设" class="index-basic-item-img" src="/images/index/index-basic-1.png?v=313">
              <h4> 营销与推广</h4>
              <ul>
                <li>h5游戏</li>
                <li> 软文营销</li>
                <li> 短视频</li>
              </ul>

              <div class="index-basic-item-btn">
                <a class="btn btn-basic more" href="/service-h5" target="_blank">详细介绍</a>
              </div>
            </div>
          </div>
          <div class=" index-basic-item">
            <div class=" index-basic-item-box">
              <img alt="企业门户建设" class="index-basic-item-img" src="/images/index/index-basic-1.png?v=313">
              <h4> 互联网+定制</h4>
              <ul>
                <li>电商系统</li>
                <li> 拍卖系统</li>
                <li> 企业进销存管理系统</li>
              </ul>
              <div class="index-basic-item-btn">
                <a class="btn btn-basic more" href="/service-soft" target="_blank">详细介绍</a>
              </div>
            </div>
          </div>
          <div class=" index-basic-item">
            <div class=" index-basic-item-box">
              <img alt="企业门户建设" class="index-basic-item-img" src="/images/index/index-basic-1.png?v=313">
              <h4> 微信</h4>
              <ul>
                <li>微信公众号定制开发</li>
                <li> 微信小程序</li>
                <li> 企业进销存管理系统</li>
              </ul>

              <div class="index-basic-item-btn">
                <a class="btn btn-basic more" href="/service-wx" target="_blank">详细介绍</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="index-case section">
      <div class="index-case-cont">
        <h2 class="index-basic-title ">案例展示</h2>
        <div id="case-swiper" class="container">
          <div class="row">
            {{#each cases as |post idx|}}

            <div class="col-md-4 box">
              <a href="{{caseUrl post}}" alt="{{{post.title}}} ">
                <div class="index-apps-item-box">
                  <div class="index-case-item-img" >
                    {{#if post.Covers}}
                      {{#each post.Covers as |cover|}}
                        <img alt="case" class="service-case-item-img" src="{{cover.previewUrl}}">
                      {{/each}}
                    {{else}}
                      <img alt="case" class="service-case-item-img" src="/images/565x328.png">
                    {{/if}}
                  </div>
                  <h5 class="index-case-title ellipsis">{{post.title}} </h5>
                </div>
              </a>
            </div>
            {{/each}}

            <div class="col-md-4 box">
              <div class="index-apps-item-box">
                <div class="index-case-item-img" >
                  <img alt="case" class="index-case-item-img" src="/images/index/case.png?v=313">
                </div>
                <h5 class="index-case-title ellipsis">光棍租赁平台 </h5>
              </div>
            </div>
            <div class="col-md-4 box">
              <div class="index-apps-item-box">
                <div class="index-case-item-img" >
                  <img alt="case" class="index-case-item-img" src="/images/index/case.png?v=313">
                </div>
                <h5 class="index-case-title ellipsis">定制旅游路书系统 </h5>
              </div>
            </div>
            <div class="col-md-4 box">
              <div class="index-apps-item-box">
                <div class="index-case-item-img" >
                  <img alt="case" src="/images/index/case.png?v=313">
                </div>
                <h5 class="index-case-title ellipsis">汪永峰皮具管理系统 </h5>
              </div>
            </div>
            <div class="col-md-4 box">
              <div class="index-apps-item-box">
                <div class="index-case-item-img" >
                  <img alt="case"   src="/images/index/case.png?v=313">
                </div>
                <h5 class="index-case-title">企业进销存管理系统 </h5>
              </div>
            </div>
            <div class="col-md-4 box">
              <div class="index-apps-item-box">
                <div class="index-case-item-img" >
                  <img alt="case"  src="/images/index/case.png?v=313">
                </div>
                <h5 class="index-case-title">大屏互动游戏系统 </h5>
             </div>
          </div>
        </div>
        <div class="index-case-btn">
          <a class="btn btn-basic more" href="/case" target="_blank">更多案例</a>
        </div>
      </div>

    </div>

    <div class="index-customers section">
      <div class="index-case-cont">
        <h2 class="index-basic-title ">他们选择了软山网络</h2>
        <div class="row">
          <div class="col-md-2 customer">
            <img src="/images/index/xys_one_lv_3.png?v=313">
            <p> 一汽-大众</p>
          </div>
          <div class="col-md-2 customer">
            <img src="/images/index/xys_one_lv_3.png?v=313">
            <p> ido珠宝</p>
          </div>
          <div class="col-md-2 customer">
            <img src="/images/index/xys_one_lv_3.png?v=313">
            <p> 锐朗设计</p>
          </div>
          <div class="col-md-2 customer">
            <img src="/images/index/xys_one_lv_3.png?v=313">
            <p> 卡其多餐饮</p>
          </div>
          <div class="col-md-2 customer">
            <img src="/images/index/xys_one_lv_3.png?v=313">
            <p> 童游科技</p>
          </div>
          <div class="col-md-2 customer">
            <img src="/images/index/xys_one_lv_3.png?v=313">
            <p> G.O.D株式会社</p>
          </div>
        </div>
      </div>

    </div>

    <div class="trail-pc section">
      <div class="index-case-cont">
        <h2 class="index-basic-title " style="padding: 54px 0 15px;">专属定制？联系我们 </h2>
        <div class="index-basic-desc">我们致力于利用先进的互联网技术， 使之更好的服务于我们的生活和事业。</div>
        <div>
          <div class="index-trail-content">
            <div  class="input-mobile-wrap"  >
              <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
              <input class="input-idea" name="title" placeholder="简述您的想法" type="text"  >
            </div>
            <div class="input-mobile-wrap"  >
              <i class="fa fa-mobile" aria-hidden="true"></i>
              <input class="input-mobile" name="mobile" placeholder="输入手机号码" type="text"  >
            </div>
            <div  style="display:inline-block;">
            <a class="btn-mob-link" href="javascript:void(0);">咨询报价</a>
            </div>
          </div>
        </div>
      </div>

    </div>




  </div><!-- #content -->
</main>
{{> footer }}
