<div class="page-footer index">

     <div class="foot1">
          <div class="inner">
              <div class="cor-logo"><div class="cor-img cor-logo1"></div></div>
               <div class="cor-logo"><div class="cor-img cor-logo2"></div></div>
               <div class="cor-logo"><div class="cor-img cor-logo3"></div></div>
               <div class="cor-logo"><div class="cor-img cor-logo4"></div></div>
               <div class="cor-logo"><div class="cor-img cor-logo5"></div></div>
               <div class="cor-logo"><div class="cor-img cor-logo6"></div></div>
               <div class="cor-logo"><div class="cor-img cor-logo7"></div></div>
               <div class="cor-logo"><div class="cor-img cor-logo8"></div></div>
               <div class="cor-logo"><div class="cor-img cor-logo9"></div></div>
               <div class="cor-logo"><div class="cor-img cor-logo10"></div></div>
          </div>
     </div>
     <div class="foot2">
          <div class="inner">
              <section class="col col1">
                   <h1>网站导航</h1>
                   <li><span class="service"></span><span>提供服务</span><a class="full" href="index.html"></a></li>
                   <li><span class="case"></span><span>成功案例</span><a class="full" href="cases.html"></a></li>
                <li><span class="h5share"></span><span>H5案例分享</span><a class="full" href="http://h5cases.ruanshan.com/"  target="_blank"></a></li>
                	<li><span class="h5ketang"></span><span>H5课堂</span><a class="full" href="posts.html"  target="_blank"></a></li>
                   <li><span class="about"></span><span>关于软山</span><a class="full" href="about-us.html"></a></li>
              </section>

              <section class="col col2">
                   <h1>联系我们</h1>
                   <p><span class="icon icon1"></span><span>大连市沙河口区尚品天城2号楼 2506室</span></p>
                   <p><span class="icon icon2"></span><span style="color:#FFF">0411-</span><span style="color:#FFF">66898939</span></p>
                   <p><span class="icon icon3"></span><span>contact@ruanshan.com</span></p>
              </section>

              <section class="col col3">
                    <div class="contact">
                           <div><img style="max-width:100%; max-height:100%; display:inline;" src="/images/qrcode-h5.jpg"><p>订阅h5案例分享,了解更多h5案例的秘密</p></div>
                           <div><img style="max-width:100%; max-height:100%; display:inline;" src="/images/qrcode-ruanshan.jpg"><p>订阅软山官方账号,让软山提供更好的服务</p></div>
                    </div>
              </section>
           </div>
     </div>


    <div class="foot3">
         <div class="inner">
           <span>@copyright 2014-2020 RuanShan. ALL RIGHTS RESERVED</span> <span>大连软山网络有限公司版权所有</span> <span>京ICP备12012882号-1</span><span>|</span><span>
		 		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802030405" ><img src="http://ruanshan.com/images/beian.png" style="vertical-align:middle;margin-right:8px;"/>京公网安备 11010802030405号</a>
		 	</span>
		 <span>|</span><span><a href="http://ruanshan.com/" target="_blank">中文版</a></span><span>|</span><span><a href="http://ruanshan.com/en/" target="_blank">English</a></span>
         </div>
    </div>
</div><!-- end of page-footer -->
<script src="js/js.js?v=1.1"></script>
