<div class="page-header com-info">

          <div class="header">
               <div class="logo"><div></div><a class="full" href="index.html"></a></div>
               <ul class="menu">
                   <!--<li><span class="service"></span><span>提供服务</span><a class="full" href="index.html"></a></li>-->
                   <li><span class="case"></span><span>成功案例</span><a class="full" href="/cases.html"></a></li>
                   <li><span class="h5share"></span><span>H5案例分享</span><a class="full" href="http://h5cases.ruanshan.com/" target="_blank"></a></li>
                   <li {{#if isPagePost }} class="selected this" {{/if}}><span class="h5ketang"></span><span>H5课堂</span><a class="full" href="/posts.html"  ></a></li>
                   <li {{#if isPageAbout }} class="selected this" {{/if}} ><span class="about"></span><span>关于软山</span><a class="full" href="/about-us.html"></a></li>
               </ul>
          </div>
</div>
