  <div class="online-service">
    <span class="contact-big-m" id="contact-big-m">
      <div class="big-m" id="big-m">
        <div class="big-m-head">
          <i class="big-m-eye big-m-eye-left"></i>
          <i class="big-m-eye-close"></i>
          <i class="big-m-eye big-m-eye-right"></i>
          <i class="big-m-star"></i>
        </div>
        <div class="big-m-body"></div>
      </div>
      <div class="hmsr-service">
        <span class="service mobile-service">
          <div class="img-inner mobile-img"></div>
          <div class="service-txt">电话咨询</div>
          <div class="mobile-out">
            <i class="i-arrow"></i>
            <i-bg-transparent></i-bg-transparent>
            <div class="mobile-out-content">
              <span class="mobile-out-name">服务热线</span>
              <div class="mobile-out-num">13322280797</div>
            </div>
          </div>
        </span>
        <span class="service price-service">
          <div class="img-inner price-img"></div>
          <div class="service-txt">获取报价</div>
        </span>
        <a class="service qq-service" href="http://wpa.qq.com/msgrd?v=3&amp;uin=17778361&amp;site=qq&amp;menu=yes" target="_blank">
          <div class="img-inner qq-img"></div>
          <div class="service-txt">QQ咨询</div>
        </a>
        <span class="service wx-service">
          <div class="img-inner wx-img"></div>
          <div class="service-txt">微信咨询</div>
          <div class="wx-out">
            <img alt="微信二维码" src="/images/wx-hmsr.jpg">
          </div>
        </span>
        <span class="service onlines-service contact">
          <div class="img-inner online-img"></div>
          <div class="service-txt">在线咨询</div>
        </span>
        <div class="price-service-mask">
          <form class="service-form">
            <i class="service-close"></i>
            <h2>在线获取方案和报价,专人快速响应</h2>
            <div class="form-layout">
              <div class="form-first">
                <div class="form-name">
                  <h4>
                    您的称呼
                    <span class="xing">*</span>
                    <div class="err"></div>
                  </h4>
                  <div class="name-inner">
                    <input class="name-inner-input" id="service-name" maxlength="20" name="name" placeholder="请输入您的名字" type="text">
                  </div>
                </div>
              </div>
              <div class="form-second">
                <div class="form-mobile">
                  <h4>
                    联系电话
                    <span class="xing">*</span>
                    <div class="err"></div>
                  </h4>
                  <div class="mobile-inner">
                    <input class="mobile-inner-input" id="service-phone" maxlength="11" name="phone" placeholder="请输入您的电话" type="text">
                  </div>
                </div>
              </div>
              <div class="form-third">
                <div class="form-service">
                  <h4>您希望我们为您提供哪些服务?（可多选）<div class="err"></div>
                  </h4>
                  <div class="service-inner">
                    <span class="service-type">新零售解决方案</span>
                    <span class="service-type">小程序定制开发</span>
                    <span class="service-type">电商代运营</span>
                    <span class="service-type end">品牌自营零售方案</span>
                    <span class="service-type">在线教育方案</span>
                    <span class="service-type">门店智慧零售</span>
                    <span class="service-type">进出口跨境电商</span>
                    <span class="service-type end">广告营销推广</span>
                    <input id="service-info" name="info" type="hidden">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-submit" id="form-service-submit">获取方案</div>
          </form>
          <div class="price-demand-sucess service-form-success" id="price-demand-sucess">
            <i class="price-demand-close iconfont-md"></i>
            <h2>提交成功</h2>
            <div class="demand-succes-content">
              <div class="manager-right">
                <span>你好，</span>
                <span id="cunstomer-name">XXX女士/先生</span>
                <span>，你的需求已提交成功，后续会有专门的客户经理与你电话联系。谢谢!</span>
              </div>
            </div>
            <div class="price-demand-btn">
              <a class="btn-basic" href="javascript:void(0);" id="price-demand-sucess-submit">确定</a>
            </div>
          </div>
        </div>
      </div>
    </span>
    <div class="back-top-cont show" id="back-top-cont">
      <a class="back-top" href="javascript:void(0);" id="back-top">
        <span class="back-top-line"></span>
        <i class="iconfont-md"></i>
      </a>
    </div>
  </div>
