{{> header }}

<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content faq">

    <div class="tg-container ">
      <div   class="content-area pagebuilder-content">

        <div class="wrapper">
          <div >
           <h2 class="text-center service-basic-title "> H5游戏是企业线上营销活动的高效工具</h2>
          </div>

          <div>
            <h3 class="text-center service-basic-title"> 一个H5游戏能带来什么 </h3>
            <h4> 获取流量</h4>
      <p> 在这个流量如黄金的时代，让你用更低成本获取流量
       游戏+抽奖的模式，让活动更具吸引力，用户参与活动也能像玩游戏一样上瘾 
       强大的涨粉功能，利用社交力量裂变传播，流量成本减少50%以上</p>

            <h4>活跃用户</h4>

              <p> 有效解决用户流失严重的问题，通过与用户的持续互动来增强用户粘性
             内设连续参与机制，真正做到增强用户粘性 
             持续更新节日、热点活动，让你随时随地做活动 </p>

            <h4> 转化客户 </h4>
              <p> 活动最后一步，多款促销工具助你转化客户成交订单
             支持多种奖品类型，微信卡券、电商优惠券、门店优惠券...转化客户更快捷 
             促销工具花样多多，砍价、拼团...转化手段更多样 
             支持好友推广，订单成交翻倍如此简单</p>


          </div>

          <div>
            <h3 class="text-center  service-basic-title"> 相关案例</h3>

            <div class="row">
              <div class="col-md-6">   <h4>  案例1  </h4> </div>
              <div class="col-md-6">   <h4>  案例2  </h4> </div>
              <div class="col-md-6">   <h4>  案例3  </h4> </div>
              <div class="col-md-6">   <h4>  案例4  </h4> </div>
            </div>
          </div>

 
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
