{{> header }}

<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content faq">

    <div class="tg-container  ">
      <div class="content-area pagebuilder-content">

        <div class="wrapper">


          <div>
            <div class="section">

              <h3 class="text-center service-basic-title"> 你是否也有这样的问题？（客户的问题）</h3>

              <div class="row">
                <div class="col-md-6">
                  <h4> 1. 项目起步，预算有限，怎么做？ </h4>
                  <p> 根据不同的项目和项目发展的不同阶段，对于软件的需求是不同的，项目的起步，确认能够挣钱是最重要的，所有的预算都要为这个目标服务。
                  我们建议，开发MVP系统。 </p>
                </div>
                <div class="col-md-6">
                  <h4> 2. 我们想做线上销售，不知从何开始？</h4>
                  <p> 线上销售已经是企业发展不可或缺的一环。但是线上销售不等于做个电商系统。官网，淘宝，朋友圈，短视频，网红，小游戏都是网上销售的利器。</p>
                </div>
              </div>
                <div class="row">
                <div class="col-md-6">
                  <h4> 3. 我们的业务流程比较复杂，找不到合适的系统？</h4>
                  <p> 每个企业都有自己的特质，通用软件很难适用所有企业。为了提高生产和管理效率，有时必须定制开发我们的系统，降低生产和管理成本，这样企业才能面向未来。 </p>
                </div>

                <div class="col-md-6">
                  <h4>4. 开发PC软件、App、微信小程序还是H5？</h4>
                  <p> 根据企业的业务，规模和发展阶段，需要的工具是不同的。每个工具都要各自的成本和优缺点， 我们的建议是找专业人士咨询一下，再做决定!</p>
                </div>
              </div>
            </div>
            <div class="section">
              <h3 class="text-center  service-basic-title"> 我们的优势</h3>

              <div class="row">
                <div class="col-md-4">
                  <h4>  经验  </h4>
                  <ul>
                    <li> 电商系统，微信开发，业务处理等多类型系统开发经验</li>
                    <li> 软件产品开发和运营经验 </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4> 技术 </h4>
                  <ul>
                    <li>根据不同的项目，选择适合的技术 WEB, H5, ANDROID, IOS, NODE,PYTHON</li>
                    <li>基于敏捷软件开发，为企业提供易用，健壮，可扩展，拥抱变化的软件产品 </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4> 服务 </h4>
                  <ul>
                    <li>在开发技术，软件进度和软件质量多维度提供优质服务 </li>
                    <li>提供备案、设计、会计、工商等全链服务 </li>
                  </ul>
                </div>

              </div>
            </div>
            <div class="service-case related-case section">
              <h3 class="text-center  service-basic-title"> 相关案例</h3>
              {{> servicePosts }}

            </div>

          </div>
        </div>
      </div>
    </div>
</main>
{{> footer }}
