{{> header }}

<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content faq">

    <div class="tg-container  ">
      <div   class="content-area pagebuilder-content">

        <div class="wrapper">


          <div>
            <h3> 你是否也有这样的问题？（客户的问题）</h3>
            <h4> 1. 我们想做线上销售，不知从何开始？</h4>

             完美响应PC/微信/移动端访问
            <h4>2. 我们的业务流程比较复杂，找不到合适的系统？</h4>

            a. 专属方案
            b. 定制化设计
            c. 一对一服务

            <h4> 有一个项目，需要一个系统，得多钱啊？ </h4>


            <h4>4. 支持定制功能</h4>
            a. 招聘
            b. 表单调查
            c. 产品过滤
            等

          </div>

          <div>
            <h3> 案例</h3>
            <h4>  案例1  </h4>

            <h4>案例2 </h4>



            <h4> 案例3 </h4>

            <h4>案例4</h4>


          </div>

          <div>
            <h3> 服务流程</h3>
            <h4> 流程1 -> 流程2 ->流程3 ->流程4 </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
