{{> header }}

<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content service-website">

    <div class="tg-container  ">
      <div   class="content-area pagebuilder-content">

        <div class="wrapper">

         <h2  class="text-center service-basic-title "> 全网响应式门户 企业建站一站式解决方案</h2>

          <div class="section">
            <h3 class="text-center service-basic-title"> 网站优势</h3>
            <div class="row">
              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4> 覆盖多个互联网终端  </h4>
                <p> 完美响应PC/微信/移动端访问</p>
              </div>

              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4>颠覆平庸，您的视觉专属设计 </h4>
                <ul><li> 专属方案</li>
                   <li> 定制化设计</li>
                   <li> 一对一服务</li>
                 </ul>
              </div>

              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4> 网站SEO优化  </h4>
                  <ul>
                    <li>支持自定义全站关键词</li>
                    <li> 网站不收录，全退费 </li>
                  </ul>
              </div>
              </div>
              <div class="row">

              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4>支持定制功能</h4>

                <ul>
                  <li>招聘</li>
                  <li> 表单调查 </li>
                  <li> 其它 </li>
                </ul>
              </div>
              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发-网站安全"> </div>
                <h4>网站安全</h4>
                <ul>
                  <li>基于阿里云服务</li>
                  <li>  </li>
                  <li> 其它 </li>
                </ul>
              </div>

              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4> 售后服务  </h4>
                <p> 1年内24次免费维护 </p>
              </div>

            </div>


          </div>

          <div  class="related-case section">
            <h3 class="text-center  service-basic-title"> 相关案例</h3>

            <div class="row">
              <div class="col-md-6">   <h4>  案例1  </h4> </div>
              <div class="col-md-6">   <h4>  案例2  </h4> </div>
              <div class="col-md-6">   <h4>  案例3  </h4> </div>
              <div class="col-md-6">   <h4>  案例4  </h4> </div>
            </div>



          </div>

          <div class="section">
            <h3 class="text-center  service-basic-title"> 服务流程</h3>
            <h4> 流程1 -> 流程2 ->流程3 ->流程4 </h4>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
