{{> header }}

<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content service-website">

    <div class="tg-container  ">
      <div class="content-area pagebuilder-content">

        <div class="wrapper">

          <h2 class="text-center service-basic-title ">  企业建站一站式解决方案</h2>

          <div class="text-center section">
            <h3 class="service-basic-title">我们的优势</h3>
            <div class="row">
              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4> 覆盖多个互联网终端 </h4>
                <ul>
                  <li> 完美响应PC/微信/移动端访问</li>
                  <li> 提供免费域名及备案服务 </li>
                  <li> </li>
                </ul>
              </div>

              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4>颠覆平庸，您的视觉专属设计 </h4>
                <ul>
                  <li> 专属方案, 定制化设计</li>
                  <li> 拒绝字体、图片等侵权及违法行为</li>
                </ul>
              </div>

              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4> 网站SEO优化 </h4>
                <ul>
                  <li>支持自定义全站关键词</li>
                  <li> 网站不收录，全额退费 </li>
                </ul>
              </div>
            </div>
            <div class="row">

              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4>支持定制功能</h4>

                <ul>
                  <li> 微信相关功能开发 </li>
                  <li>在线业务处理 和其它定制需求 </li>
                </ul>
              </div>
              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发-网站安全"> </div>
                <h4>网站安全</h4>
                <ul>
                  <li>基于阿里云保证物理安全</li>
                  <li> 专业linux服务器保证系统安全 </li>
                </ul>
              </div>

              <div class="col-md-4">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4> 售后服务 </h4>
                <ul>
                  <li> 1年内24次免费维护</li>
                  <li> 支持网站新功能扩展 </li>
                </ul>
              </div>

            </div>


          </div>

          <div class="service-case related-case section">
            <h3 class="text-center  service-basic-title"> 相关案例</h3>
            {{> serviceCases }}

          </div>

        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
