{{> header }}

<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content service-website">

    <div class="tg-container  ">
      <div   class="content-area pagebuilder-content">

        <div class="wrapper">

          <div >
           <h2> 全网响应式门户 企业建站一站式解决方案</h2>
          </div>

          <div>
            <h3> 特点</h3>
            <div class="row">
              <div class="col-md-6">
                <h4> 1. 覆盖多个互联网终端  </h4>
                <p> 完美响应PC/微信/移动端访问</p>
              </div>

              <div class="col-md-6">
                <h4> 1. 覆盖多个互联网终端  </h4>
                <p> 完美响应PC/微信/移动端访问</p>
              </div>

              <div class="col-md-6">
                <h4>2. 颠覆平庸，您的视觉专属设计 </h4>
                <p>   a. 专属方案
                  b. 定制化设计
                  c. 一对一服务</p>
              </div>

              <div class="col-md-6">
                <h4> 3. 网站SEO优化，网站不收录，全退费 </h4>
                  <p>支持自定义全站关键词</p>
              </div>

              <div class="col-md-6">
                <h4>4. 支持定制功能</h4>
                <p> a. 招聘
                b. 表单调查
                c. 产品过滤
                等</p>
              </div>
            </div>


          </div>

          <div>
            <h3> 案例</h3>

            <div class="row">
              <div class="col-md-6">   <h4>  案例1  </h4> </div>
              <div class="col-md-6">   <h4>  案例2  </h4> </div>
              <div class="col-md-6">   <h4>  案例3  </h4> </div>
              <div class="col-md-6">   <h4>  案例4  </h4> </div>
            </div>



          </div>

          <div>
            <h3> 服务流程</h3>
            <h4> 流程1 -> 流程2 ->流程3 ->流程4 </h4>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
