{{> header }}

<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content faq">

    <div class="tg-container  ">
      <div  class="content-area pagebuilder-content">

        <div class="wrapper">
          <div >
           <h2 class="text-center service-basic-title "> 微信深度定制 </h2>
          </div>

          <div>
            <h3 class="text-center service-basic-title"> 产品与服务</h3>

            <div class="row">
              <div class="col-md-3">
                <div> <img src="/images/service/website/feature.png" alt="微信行业解决方案"> </div>
                <h4> 微信行业解决方案  </h4>
                <ul>
                  <li>获客便利，流量巨大</li>
                   <li>站在巨人肩膀，共享微信企业服务  </li>
                   <li>企业信息数字化、移动化、智能化  </li>
                 </ul>
              </div>

              <div class="col-md-3">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4>微信小程序定制开发 </h4>
                <ul>
                  <li> 无需下载，扫码即用 </li>
                  <li>快速上线，快速迭代</li>
                  <li>一键分享，稳圈忠粉 </li>
                </ul>
              </div>

              <div class="col-md-3">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4> 微信公众号定制开发  </h4>
                  <ul>
                    <li>服务海量客户</li>
                    <li>提高服务效率</li>
                    <li>积累私域流量</li>
                   </ul>
              </div>
              <div class="col-md-3">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4> 微购物定制开发  </h4>
                  <ul>
                    <li>快速上线，投资成本低</li>
                    <li>流量高，获客成本低 </li>
                    <li>使用方便，用户体验好 </li>
                  </ul>
              </div>
            </div>

          </div>

          <div>
            <h3 class="text-center  service-basic-title"> 相关案例</h3>

              <div class="row">
                <div class="col-md-6">   <h4>  会员查询系统  </h4> </div>
                <div class="col-md-6">   <h4>  产品服务系统，如激活，报修   </h4> </div>
                <div class="col-md-6">   <h4>  案例3  </h4> </div>
                <div class="col-md-6">   <h4>  案例4  </h4> </div>
              </div>

          </div>

          <div>
            <h3 class="text-center  service-basic-title"> 服务流程</h3>
            <ul>
              <li>              深度了解你需要的微信功能、目标用户特征后，为你制定开发计划</li>
              <li>如果你已经有很详细的开发文档，我们会与您讨论确定</li>
              <li>确定最终方案、开发周期等，并开始研发</li>
              <li>完成后，交付,验收</li>
              <li>售后服务，维护,升级</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
