{{> header }}

<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content faq">

    <div class="tg-container  ">
      <div  class="content-area pagebuilder-content">

        <div class="wrapper">
          <div >
           <h2 class="text-center service-basic-title "> 微信深度定制 </h2>
          </div>

          <div>
            <h3 class="text-center service-basic-title"> 产品与服务</h3>

            <div class="row">
              <div class="col-md-3">
                <div> <img src="/images/service/website/feature.png" alt="微信行业解决方案"> </div>
                <h4> 微信行业解决方案  </h4>
                <ul>
                  <li>获客便利，流量巨大</li>
                   <li>站在巨人肩膀，共享微信企业服务  </li>
                   <li>企业信息数字化、移动化、智能化  </li>
                 </ul>
              </div>

              <div class="col-md-3">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4>微信小程序定制开发 </h4>
                <ul>
                  <li> 无需下载，扫码即用 </li>
                  <li>快速上线，快速迭代</li>
                  <li>一键分享，稳圈忠粉 </li>
                </ul>
              </div>

              <div class="col-md-3">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4> 微信公众号定制开发  </h4>
                  <ul>
                    <li>服务海量客户</li>
                    <li>提高服务效率</li>
                    <li>积累私域流量</li>
                   </ul>
              </div>
              <div class="col-md-3">
                <div> <img src="/images/service/website/feature.png" alt="网站开发"> </div>
                <h4> 微购物定制开发  </h4>
                  <ul>
                    <li>快速上线，投资成本低</li>
                    <li>流量高，获客成本低 </li>
                    <li>使用方便，用户体验好 </li>
                  </ul>
              </div>
            </div>

          </div>

          <div class="service-case related-case section">
            <h3 class="text-center  service-basic-title"> 相关案例</h3>
            {{> servicePosts }}

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
