{{> header2 }}
<main id="main" class="site-main post-detail">


  <div id="content" class="site-content page-body">

    <div class="tg-container tg-container--flex tg-container--flex-space-between">
      <div id="primary" class="">

        <div class="">
          <div class=" ">
            <h1 class="blog-post_title">{{post.title}}</h1>

          </div>
          <div class="meta-wrapper entry-meta text-muted">
            <div clss="item">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{post.author}}
            </div>
            <div clss="item">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{formatDate post.publish_at}}
            </div>
            <div clss="item">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
              {{#each post.Terms as |term|}}
                <span class="term"> {{term.name}} </span>
              {{/each}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="post col-sm-12 hentry">
            <div class="cover post-thumbnail">
              {{#each post.Covers as |cover|}}
                <img src="{{cover.originalUrl}}" alt="cover" />
              {{/each}}
            </div>

            <div class="content-text">
              {{{post.content}}}
            </div>
          </div>{{!-- .post --}}


        </div><!-- .row -->
          <div class="recommendation">
            <h1>相关推荐：</h1>
            {{#each relatedPosts as |post|}}

            <a class="reblock jdou-btn" href="{{postUrl post}}" data-btn="00121" data-async="false" target="_blank">
              <div class="re-img"><img src="{{postCoverUrl post}}"></div>
              <h2>{{post.title}}</h2>
            </a>
            {{/each}}

            <a class="reblock jdou-btn" href="/cases/201912/txnd.html" data-btn="00122" data-async="false" target="_blank">
              <div class="re-img"><img src="https://niu.h5anli.com/Uploads3/201912/157754338440047.jpg"></div>
              <h2>腾讯视频：2019腾讯视频年度指数报告</h2>
            </a>
            <a class="reblock recadv2 jdou-btn" href="https://www.h5ketang.com/index.php/Home/OneCourse/index/kt/kuu201712161604070002" target="_blank" rel="nofollow" data-btn="00123" data-async="false">
              <div class="re-img"><img src="https://niu.h5anli.com/adv/201703/createJS.jpg"></div>
              <h2>10个案例了解H5之CreateJS</h2>
            </a>
          </div>
      </div><!-- #primary -->

     </div>
  </div><!-- #content -->
</main>
{{> footerForOther }}
